.HeadingAndSubheadingContainer{
    font-family:'Rubik',sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    text-align:center;
    margin-top:40px;
}

.Heading{
    margin:0%;
    height:170px;
    width:647px;
    font-size:9em;
    color:transparent;
    background-image:linear-gradient(120deg, hsla(2, 72%, 48%, 1) 0%, hsla(36, 94%, 61%, 1) 100%);
    -webkit-background-clip:text;
    background-clip:text;
}

.HeadingGlow{
  margin:0%;
  position:absolute;
  z-index:-1;
  height:170px;
  width:647px;
  font-size:9em;
  color:transparent;
  background-image:linear-gradient(120deg, rgba(211, 40, 34, 0.5) 0%, rgba(249, 174, 62, 0.5) 100%);
  -webkit-background-clip:text;
  background-clip:text;
  filter:blur(0.3em);
  -webkit-filter:blur(0.3em);
}

.Subheading{
    color:#ffffff;
    font-size:2em;
    width:1000px;
    height:0%;
    margin:0%;
}

.Body{
  background-color:#181818;
}

.NumberOfTabsContainer{
    margin-top:70px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    text-align:center;
}

.NumberOfTabs{
    font-family:'Rubik',sans-serif;
    padding:20px 20px;
    margin:4px 2px;
    outline:none;
    border:none;
    font-weight:bold;
    border-radius:8px;
    font-size:18px;
    text-align:center;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
    transition-duration:0.2s;
}

.NumberOfTabs:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 16px 0px;
    transform:scale(1.01); 
    cursor:text;
}

.NumberOfTabs:active{
    box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
    transform: scale(1); 
    cursor:text;
}

.StartButtonContainer{
    margin-top:80px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    text-align:center;
}

.StartButton{
    font-family:'Rubik',sans-serif;
    transform-style:preserve-3d;
    padding:20px 30px 20px 20px;
    margin:4px 2px;
    color:#ffffff;
    box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-image:linear-gradient(120deg, hsla(2, 72%, 48%, 1) 0%, hsla(36, 94%, 61%, 1) 100%);
    outline:none;
    text-align:center;
    border:none;
    font-weight:bold;
    border-radius:8px;
    font-size:25px;
    cursor:pointer;
    border-radius:8px;
    user-select:none;
    -webkit-user-select:none;
    touch-action:manipulation;
    transition-duration:0.2s;
}

.StartButton:before{
    content:"";
    background:linear-gradient(120deg,#D42922,#F9AD3D,#D42922,#F9AD3D,#D42922,#F9AD3D,#D42922,#F9AD3D,#D42922);
    position:absolute;
    top:-2px;
    left:-2px;
    background-size:1000%;
    z-index:-1;
    filter:blur(0.5em);
    -webkit-filter: blur(0.5em);
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    animation:StartButtonGlow 80s linear infinite;
    border-radius:8px;
}

@keyframes StartButtonGlow{
    0%{background-position:0 0;}
    50%{background-position:400% 0;}
    100%{background-position:800% 0;}
}

.StartButton:after{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    border-radius:8px;
}

.StartButton:hover{
    transform:scale(1.05);
}

.StartButton:active{
    transition-duration:0.1s;
    transform:scale(1); 
    box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}

.StartButton:disabled{
    opacity:0.5;
    pointer-events:none;
}

/*<Tab Blast (TBLST)> <A stress test that opens a user-definable amount of tabs>
    Copyright (C) <2023>  <Jack Burlingham>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>
